.App {
  text-align: center;
  
}
.headerWebDiv{
  position: relative;
  height: 50px;
  border: 2px solid black;
  
}
#titleWeb{
  position: absolute;
  left: 5px;
  top: -5px;
}
#headerButtons{
  position: absolute;
  right: 5px;
  top: 9px;
}

.headerButton{
  
}
